<!-- Check the about_us controller to see where post is coming from. 
	Check the model to see where the api call is being made  -->

<!-- This is going to be done in a pinterest style format later -->
<div id="articles">
	<h1><%= (@post["title"]).html_safe %></h1>
			<%= (@post["body"]).html_safe %>  
</div>


 