<div class="ten columns" id="articles">
  <div class="sixteen columns" id='home_image'>
    <img src="assets/home01.jpg">
  </div>
  <div class="twelve columns" id="articles">
    <p> This is where the blog stuff goes </p>
  </div>
</div>