<!-- Check the get informed controller to see where post is coming from. 
	Check the model to see where the api call is being made  -->

<div id="articles">
  <div id="articles">
		<h1><%= (@post["title"]).html_safe %></h1>
				<%= (@post["body"]).html_safe %>  
  </div>
</div>

 