<!-- Check the get informed controller to see where post is coming from. 
	Check the model to see where the api call is being made  -->

<!-- This is going to be done in a pinterest style format later -->
<div id="resources">
  <div>
		<h1>Coming Soon</h1>
				 
  </div>
</div>

 