<!-- All image assets can be found in app/assets/images/ -->
<!-- To Reference the images just do img crc="assets/yourfile.img" -->

<div span="12" id='image_header'>
<!-- BTF movement logo -->
  <div id="btf_logo_header">
    <a href="index">
      <img class="img-responsive" src="assets/BTFLogo.png" alt="BTF Movement"/>
    </a>
  </div>
<!-- Invincible header image-->
  <div id='invincible_header'> 
    <img class="img-responsive" src="assets/invincible.png">
  </div>

<!-- Follow and contact list -->
  <div id="contact_list_header">
<!-- Facebook button -->
    <ul>
      <li>
        <a href="https://www.facebook.com/BTFMovement">
          <img src="assets/facebook25.png">
        </a>
        <a href="https://www.facebook.com/BTFMovement">STAY CONNECTED</a>
      </li>
    
<!-- Facebook link -->
<!-- Paypal donation button -->
      <li>
        <a href="#">
          <img src="assets/paypal.png">
        </a>
<!-- Donation link -->
        <a href="#">DONATE</a>
      </li>
<!-- Volunteer button -->
      <li>
        <a href="#">
          <img src="assets/volunteer.png"/>
        </a>
        <a href="#">VOLUNTEER</a>
      </li>
    
<!-- Calander icon -->
      <li>
        <a href="#">
          <img src="assets/calendar-icon.png" alt="Calendar" width="26" height="26" border="0" />
        </a>
<!-- Calander link -->
        <a href="#">UPCOMING EVENTS</a>
      </li>
    </ul>          
  </div>
  </div>
  </div>

</header>  