<div class="navbar">
  <ul>
    <li><a href="#">HOME</a></li>
  
    <li><a href="#">GET INFORMED</a>
      <ul>  
        <li><a href="#">Signs And Symptoms</a></li>
        <li><a href="#">Prevention In Your Area</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Statistics</a></li>
      </ul>
    </li>

    <li><a href="#">THE MOVEMENT</a>
      <ul>
        <li> <a href="#">Reform Judicial System</a></li>
        <li> <a href="#">Reform Medical Insurance</a></li>
        <li> <a href="#">Long Term Recovery</a></li>
      </ul>
    </li>

    <li><a href="#">HELP FIGHT ADDICTION</a>
      <ul>
        <li><a href="calendar.htm">Calendar</a> </li>
        <li><a href="volunteer.php">Volunteer</a>   </li>
        <li><a href="donate.htm">Donate</a>   </li>
      </ul>
    </li>
    
    <li><a href="#">ABOUT US</a>
      <ul>
        <li><a href="story.htm">Founders Story</a> </li>
        <li><a href="contactus.php">Contact Us</a>    </li>  
      </ul>
    </li>
  </ul>
</nav>